:root {
  /* Основные шрифты */
  --main-font: 'roboto', sans-serif;
  --secondary-font: 'raleway' sans-serif;
  /* Цвет текста */
  --main-color: rgb(117, 117, 117);
  --secondary-color: rgb(33, 33, 33);
  --unique-color: rgb(33, 150, 243);
  --title-color: rgb(255, 255, 255);
  /* Основные фоны */
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  background-color: #f5f4fa;
  font-family: var(--main-font);
}

.header-logo {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  color: var(--secondary-color);
}

.logo-link {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  color: var(--unique-color);
}

.header-link {
  font-family: var(--main-font);
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.header-link:hover {
  color: var(--unique-color);
}
.header-link:focus {
  color: var(--unique-color);
}

.header-link-txt {
  font-family: var(--main-font);
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.header-link-txt:hover {
  color: var(--unique-color);
}

.header-link-txt:focus {
  color: var(--unique-color);
}

.header-mail {
  font-family: var(--main-font);
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.header-mail:hover {
  color: var(--unique-color);
}

.header-mail:focus {
  color: var(--unique-color);
}

.header-phone {
  font-family: var(--main-font);
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

/* Секция герой */

.hero-title {
  font-size: 60px;
  font-style: var(--main-font);
  color: var(--title-color);
  font-weight: 900;
  line-height: 1.36;
}

.hero-button {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--unique-color);
}

/* Секция особенности */

.feature-title {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14px;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* Секция Чем мы занимаемся */

.occupation-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
}

/* Секция Команда сотрудников */
.employee-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
}

.employee-title-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
}

/* Footer */

.footer-logo {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  color: var(--title-color);
}

.footer-address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71px;
  color: var(--title-color);
}

.footer-link-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7px;
  color: rgba(255, 255, 255, 0.6);
}
