:root {
}

body {
  font-family: 'Roboto';
  color: rgba(117, 117, 117, 1);
}

/* .logo-first {
  color: rgba(33, 150, 243, 1);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.84px;
  letter-spacing: 0.03em;
}

.logo-secondary {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 0.84px;

  letter-spacing: 0.03em;

  color: #000000;
} */
